<div class="container">
  <h3>Create a Recipe</h3>
  <form action="/recipes" method="post">
    Title: <input type="text" name="title" placeholder="ex. Kabab Koobideh"><br>
    <br>
    Yield: <input type="text" name="yield" placeholder="ex. 4 servings"><br>
    <br>
    Ingridients: <input type="text" name="ingredients" placeholder="ex. ground lamb and ..."><br>
    <br>
    How to prepare:<br>
    <br>
    <textarea name="content" rows="4" cols="50" placeholder="This is how its done ..."></textarea><br>
    <br>
    <select name="country">
      <option value="american">American</option>
      <option value="persian">Persian</option>
      <option value="mexican">Mexican</option>
      <option value="chinese">Chinese</option>
      <option value="indian">Indian</option>
      <option value="korean">Korean</option>
      <option value="japanese">Japanese</option>
      <option value="moroccon">Moroccon</option>
      <option value="mediterranean">Mediterranean</option>
    </select><br>
    <br>
    Level:<br>
    <input type="radio" name="level" value="easy"> Easy<br>
    <input type="radio" name="level" value="medium"> Medium<br>
    <input type="radio" name="level" value="hard"> Hard<br>
    <br>
    Category:<br>
    <input type="radio" name="category" value="bbq"> BBQ<br>
    <input type="radio" name="category" value="salad"> Salad<br>
    <input type="radio" name="category" value="dessert"> Dessert<br>
    <input type="radio" name="category" value="sandwich"> Sandwich<br>
    <input type="radio" name="category" value="breakfast"> Breakfast<br>
    <input type="radio" name="category" value="drink"> Drink<br>
    <br>
    <input type="submit" value"Submit">
  </form>
</div>
