<h1 id="logo">Your Recipe</h1>
<div class="container">
  <h3>Please Sign in</h3>
  <form action="/sessions" method="post">
    Username: <input type="text" name="username" placeholder="Please enter your username"><br>
    <br>
    Password: <input type="password" name="password" placeholder="Please enter your password"><br>
    <br>
    <input type="submit" value"Submit">
    <p>If you don't have an account <a href="/users/new">Sign Up here</a></p>
  </form>
</div>
