<div class="container">
  <% Recipe.all.each do |recipe| %>
  <p><a href="/recipe/<%=recipe.id%>"><%= recipe.title%></a></p>
  <% end %>
  <form action="/recipes/new" method="get">
    <input type="submit" value="Create a recipe">
  </form>
  <form action="/logout" method="post"><br>
    <input type="submit" value="Log out">
  </form>
</div>


