<div class="container">
  <h3>Please Sign up</h3>
  <form action="/users" method="post">
    First Name: <input type="text" name="first_name" placeholder="Please enter your First Name"><br>
    <br>
    Last Name: <input type="text" name="last_name" placeholder="Please enter your Last Name"><br>
    <br>
    Email: <input type="email" name="email" placeholder="Please enter your email"><br>
    <br>
    Password: <input type="password" name="password" placeholder="Please enter your password"><br>
    <br>
    <input type="submit" value"Submit">
  </form>
</div>
